[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
wtforms = "*"
flask-debugtoolbar = "*"
pipenv = "*"
python-dotenv = "*"
flask-dotenv = "*"
faker = "*"
flask-bootstrap = "*"
bootstrap-flask = "*"
flask-moment = "*"

[requires]
python_version = "3.7"
